# Project exclude paths
/back/.gradle/
/**/build/
/front/node_modules/
*.iml
/.idea
/back/src/main/resources/application-prod.yml
/back/src/main/resources/application-dev.yml
/front/public/login.html
/docker/nginx/html/*
/front/.eslintcache